*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: rgb(32, 30, 30);
}
.bg_img{
    position: absolute;
    background-image: url('../media/bgi.jpg');
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    transform: scale(1.4);
    filter: blur(5px);
    z-index: -1;
}

header{
    height: 60px;
    background: #c71111;
    display: flex;
    padding: 0 20px;
}

section{
    position: absolute;
    width: 100vw;
}

.menu-toggle{
    display: none;
    margin-left: auto;
    color: white;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: "Press Start 2P";

}

#menu{
    margin-left: auto;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    line-height: 60px;
    padding: 0 8px;
    text-transform: uppercase;
    transition: .2s;
}

#menu ul li a:hover{
    background: #921a1a;
}

.show{
    height: 305px !important;

}

.logo:hover{
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.651)) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.651));
}

#menuToggle:hover{
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.651)) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.651));
}

@media screen and (max-width: 768px){
    .menu-toggle{
        display: block;
    }

    #menu{
        background: #921a1a;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        border: 1px solid #eee;
        overflow: hidden;
        transition: .3s ease-in-out;
        z-index: 1000;
    }

    #menu ul li{
        display: block;
        text-align: center;
    }

    #menu ul li a{
        color: white;
        font-size: 20px;
        border-bottom: 1px solid #750505;
        width: 100%;
    }

    #menu ul li a:hover{
        background: #e42424;
    }

    .bg_img{
        filter: blur(6px);
    }

    #conteudo{
        position: relative;
        margin: auto;
        margin-top: 20px;
        width: 295px;
        height: 75%;
        background-color: rgba(0, 0, 0, 0.800);
        border-radius: 10px;
        padding: 30px;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.85);
        min-width: 280px;
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    
  }

  #conteudo{
      position: relative;
      margin: auto;
      margin-top: 20px;
      width: 54%;
      height: 75%;
      background-color: rgba(0, 0, 0, 0.800);
      border-radius: 10px;
      padding: 30px;
      box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.85);
      min-width: 440px;
  }

  .cont_text{
      color: white;
  }

  .team{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


  #construct_pg{
    position: relative;
    margin: auto;
    margin-top: 20px;
    max-width: 53%;
    height: 75%;
    /* background-color: yellow; */
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.85);
    min-width: 345px;
  }

  h1{
      text-align: center;

  }

  #manut{
      position: relative;
      left: 18px;
      width: 600px;
  }

  .cont_desc{
      color: white;
      text-align: justify;
      padding-top: 15px;
      font-size: 15pt;
  }

  #hokages{
      width: 100%;
      margin-top: 15px;
      border-radius: 15px;

  }

  #bio{
      position: relative;
      margin-left: 300px;
      margin-top: 20px;
      width: 70;
      height: auto;
      background-color: rgba(255, 255, 255, 0.774);
      border-radius: 15px;
      padding: 15px;
      text-decoration: none;
      text-align: justify;
      font-size: 15pt;
      min-width: 300px;
  }

  #ft_perfil{
      position: absolute;
      margin: 0 20px;
      margin-top: 20px;
      width: 250px;
      height: 250px;
      border-radius: 15px;
  }

  hr{
      margin: auto;
      margin-top: 30px;
      margin-left: 25px;
  }


#role{
    position: absolute;
    background-color: rgb(31, 29, 29);
    width: 50px;
    height: 50px;
    z-index: 2;
    margin-top: 230px;
    margin-left: 240px;
    border-radius: 100px;
}

#champs{
    position: relative;
    background-color: rgb(255, 255, 255, 0.72);
    width: 98%;
    height: auto;
    margin: 15px 20px 15px 15px;
    border-radius: 15px;
    padding-left: 12px;
}

.ft_perf{
    border-radius: 15px;
}

.role{
    width: 50px;
    height: 50px;
}

.champ_text{
    text-decoration: none;
    text-align: justify;
    font-size: 15pt;
    padding-top: 20px;
    padding-left: 20px;
}

.champ_img{
    padding-top: 60px;
    width: 80pt;
    margin-left: 13px;
    padding-bottom: 20px;
}

@media screen and (max-width: 1200px){
    #bio{   
        position: relative;
        margin: 0 auto;
        margin-top: 50px;
        width: 85%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.774);
        border-radius: 15px;
        padding: 15px;
        text-decoration: none;
        text-align: justify;
        font-size: 15pt;
        min-width: 226px;
    }

    #ft_perfil{
        position: relative;
        margin: 20px auto  0 auto;
        width: 250px;
        height: 250px;
        border-radius: 15px;
    }
}